body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f8f8f8;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Aanpassing voor doorgestreepte taken */
li.done {
    opacity: 0.7;
    text-decoration: line-through;
}

/* Aanpassing voor de hover-stijl op taken */
li:hover {
    background-color: #f0f0f0;
}
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background: url('Sea.jpg') center/cover fixed;
}